.exchange_p{
	color: #2E3569;
	text-align: justify;
	padding-right: 5px;
	margin-bottom: 20px;
	line-height: 1.5;
}


.exchange_1{
	display: block;
	position: relative;
	float: left;
	padding-right: 25px;
}


.exchange_2{
	display: block;
	color: #2E3569;
	text-align: justify;
	padding-right: 5px;
	margin-bottom: 20px;
	line-height: 1.5;
	position: relative; 
	float: right;
}

