/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img{
	display: block;
	position: relative;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	background: #F4F9FA;
	font-family: Arial, Helvetica, sans-serif;
}

.body_line {
	border-radius: 6px;
	border: 2px solid rgba(226, 146, 122, 0.918);
	/* border: 2px solid  #C1C3D0; */
    position: relative;
	margin: 0 auto;
	margin-bottom: 10px;
	min-width: 600px;
	max-width: 950px;
}

.header{
	border-color:#F4F9FA;
	color: #2E3569;
	height: 120px;
}

.logo{
	border: 0px;
	margin-top: 5px;
	margin-left: 20px;
	float: left;
	width: 350px;
	height: auto;
}
.logo_img{
	float: left;
	display: block;
	margin-right: 15;
}
.logo p{
	font-size: 130%;
	font-weight: bold;
}

.logo span{
	font-size: 90%;
	font-weight: bold;
}

.header_contacts{
	/* border: 2px solid rgba(18, 182, 26, 0.918); */
	border: 0px;
	margin-top: 10px;
	padding: 0px;
	position: relative;
	/* float: left; */
	float: right;
	width: 410px;
}

.header_contacts p{
	font-size: 120%;
	/* text-align: center; */
}

.header_contacts_phones{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	color: #2E3569;
	font-size: 120%;
    float: left;
}

.header_contacts_phones li {
	list-style: none;
    background: url(../Img/ico/phone24.png) no-repeat 0 4px;
    padding-left: 36px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.header_contacts_mails{
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	list-style-type: none;
	color: #2E3569;
	font-size: 120%;
	float: right;
}

.header_contacts_mails li {
	list-style: none;
    background: url(../Img/ico/mail24.png) no-repeat 0 4px;
    padding-left: 36px;
	padding-bottom: 0px;
	padding-top: 3px;
}

.main_menu{
	border-color: #C1C3D0;
	/* display: flex; */
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 10 10;
}

.main_menu :hover{ 
	color: #994141;
}

.main_menu a{
	text-decoration: none;
	color: #2E3569;	
}

.main_menu li{
	border-right: 1px solid #2E3569;
	list-style-type: none;
	display: inline;
	font-size: 100%;
	padding: 0px 10px;
}

.main_menu li:last-child{
	border-right: none;
}

.tagline{
	background-image: url(../Img/blue_fon.jpg);
	text-align: left;
	color: #994141;
	font-size: 200%;
	padding: 50 30;
}

.center {
	border: 0px;
	overflow: hidden;
}

.tile {
	border-radius: 6px;
	border: 2px solid  #C1C3D0;
	width: 310px;
	height: auto;
	padding: 10px;
	margin-right: 6px;
	position: relative;
	float: left;
}
.tile:hover{
	border: 2px solid #994141;
}
.tile:last-child{
	margin-right: 0px;
}

.tile__img {
	display: block;
	margin: 0px auto;
	margin-bottom: 20px;
}

h2 {
	text-align: center;
}

.help{
    padding: 10 10;
}

.help p{
	font-size: 200%;
}

.phone_1{
	float: left;
	width: 300px;
	height: 50px;
	position: absolute;
	bottom: 10px;
	right: 0;	
}
.footer{
	border: 2px solid  rgba(226, 146, 122, 0.918);
	border-radius: 3px;
	/* display: flex; */
	margin: 3px auto;
	max-width: 950px;
	position: relative;
	overflow: hidden;
}
.img_logo_footer{
	float: left;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	height: auto;
	display: block;
}

.footer{
	border: 2px solid rgba(226, 146, 122, 0.918);
	border-radius: 6px;
	/* display: flex; */
	color:#2E3569 ;
	margin: 3px auto;
	max-width: 950px;
	position: relative;
	overflow: hidden;
}

div.contacts{
	border:none;
}

.img_logo_footer{
	float: left;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	height: auto;
	display: block;
}

.footer p{
	color:#2E3569 ;
	font-size: 70%;
}